
.titlebar {
  padding-left: 7px;
  padding-right: 7px;
}

.titlebar headerbar {
  border-width: 0;
}

list.sidebar {
  border-right: 0;
}

.no-borders {
  border-width: 0;
}

list.sidebar row.frame {
  border-width: 0;
  border-bottom-width: 1px;
}

list.sidebar row box label {
  padding: 8px 4px;
}

.view.frame {
  padding: 8px 16px;
}

.main {
  margin: 16px 32px;
}

label.header {
  font-size: 20px;
}

.sidebar-search box entry {
  margin: 0 8px;
}

stacksidebar.sidebar list {
  border: none;
}

list row label {
  margin: 6px;
}

headerbar label.title {
  padding: 0;
}
